<div class="row"> <app-action-panel></app-action-panel> </div>
<div class="row filter-wrapper">
  <div class="input-group">
      <div class="input-group-prepend">
        <span *ngIf="filter.length != 0" class="input-group-text"><fa name="filter"> </fa></span>
        <span class="input-group-text">Filter By Name</span>
      </div>
      <input class="form-control" type="text" (input)="filterUsers()" [(ngModel)]="filter" placeholder="Filter">
  </div>
</div>
<div class="row view-table">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> 
          <a (click)="sortToggle('name')"> 
            <span> Name </span>
            <span *ngIf="sorting !=null && sorting.param == 'name'">
              <span *ngIf="sorting.value =='ASC'"><fa name="sort-down"></fa> </span>
              <span *ngIf="sorting.value =='DESC'"><fa name="sort-up"></fa> </span>
            </span>
            <span *ngIf="sorting ==null || sorting.param != 'name'"> <fa name="sort"></fa> </span>
          </a> 
        </th>
        <th scope="col"> 
          <a (click)="sortToggle('birthdate')"> Birthdate 
              <span> Birthdate </span>
              <span *ngIf="sorting !=null && sorting.param == 'birthdate'">
                  <span *ngIf="sorting.value =='ASC'"><fa name="sort-down"></fa> </span>
                  <span *ngIf="sorting.value =='DESC'"><fa name="sort-up"></fa> </span>
                </span>
              <span *ngIf="sorting ==null || sorting.param != 'birthdate'"> <fa name="sort"></fa> </span>
          </a>
        </th>
        <th scope="col"> Phone </th>
        <th scope="col"> Primary Address </th>
        <th scope="col"> Actions </th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users" app-user-row [user]="user" (deleteEvent)="deleteUser($event)">
        </tr>
    </tbody>
  </table>
</div>
