  <td> {{ user.name }} </td>
  <td> {{ user.birthdate | date }} </td>
  <td> {{ user.phone }} </td>
  <td>
    <span class="badge badge-info"> ZIP: </span> <span> {{ user.addresses[user.primaryAddressIdx].ZIP }} </span><br>
    <span class="badge badge-info"> City: </span> <span> {{  user.addresses[user.primaryAddressIdx].city }}</span><br>
    <span class="badge badge-info"> Address: </span> <span> {{  user.addresses[user.primaryAddressIdx].address }}</span>
  </td>
  <td> 
    <button (click)="editUser()" class="btn btn-info"> Edit </button>
    <button (click)="deleteUser()"  class="btn btn-danger"> Delete </button>
  </td>