/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

a {
    cursor: pointer;
}

body {
    button {
        margin-right: 2px;
    }
}
.btnholder {
    margin-bottom: 10px;
}

.page-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #17a2b8;
    font-variant: small-caps;
}

.filter-wrapper {
    margin-bottom: 20px;
}

.adr-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    button {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}


