<div class="row edit-wrapper">
  <form [formGroup]="userForm" (submit)="submit($event)">
      <label for=""> User configuration view </label>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
          </div>
          <input type="text" class="form-control"   formControlName="name" [ngClass]="{ 'is-invalid' : userForm.get('name').invalid &&  userForm.get('name').touched}">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Birthdate</span>
          </div>
          <input type="text" class="form-control"  placeholder="YYYY.MM.DD." formControlName="birthdate" [ngClass]="{ 'is-invalid' : userForm.get('birthdate').invalid &&  userForm.get('birthdate').touched}">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Phone</span>
          </div>
          <input type="text" class="form-control"  formControlName="phone" [ngClass]="{ 'is-invalid' : userForm.get('phone').invalid &&  userForm.get('birthdate').touched}">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text is-invalid" id="basic-addon1">Select Primary Address</span>
            <!-- <span class="input-group-text" *ngIf="user.primaryAddressIdx == -1 || user.addresses.length == 0"> Not selected </span> -->
          </div>
          <select class="is-invalid" *ngIf="user.addresses" formControlName="pAddress" [ngClass]="{ 'is-invalid' : userForm.get('pAddress').invalid}">
            <option *ngIf="user.primaryAddressIdx == -1" [ngValue]="-1"> -- Select an address --</option>
            <option *ngFor="let addr of user.addresses" [ngValue]="addr.id"> 
              {{ addr.ZIP + ' -- ' + addr.city + ' -- ' + addr.address }}
            </option>
          </select>
    </div>
    <form [formGroup]="addressForm" class="adr-wrapper">
      <div > Add Addresses: </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ZIP</span>
          </div>
          <input type="text" class="form-control" formControlName="zip" [ngClass]="{ 'is-invalid' : addressForm.get('zip').invalid && addressForm.get('zip').touched }">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >City</span>
          </div>
          <input type="text" class="form-control" formControlName="city" [ngClass]="{ 'is-invalid' : addressForm.get('city').invalid && addressForm.get('city').touched }">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >Address</span>
          </div>
          <input type="text" class="form-control" formControlName="address" [ngClass]="{ 'is-invalid' : addressForm.get('address').invalid && addressForm.get('address').touched }">
      </div>
      <button [disabled]="addressForm.invalid" (click)="addAddress()" class="btn btn-info"> Add Address </button>
    </form>
    <button [disabled]="userForm.invalid" (click)="saveUser()" class="btn btn-info"> Save User</button>
    <button (click)="cancel()" class="btn btn-warning"> Cancel/Back </button>
  </form>
</div>
