<div class="btnholder">
    <button (click)="loadUsers()" class="btn btn-info"> Load from server</button>
    <button (click)="saveUsers()" class="btn btn-info"> Save to server</button>
    <button (click)="newUser()" class="btn btn-info"> New User </button>
</div>